.checkbox-container{
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid rgba(205, 205, 205, 1);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: 17px 12px;
    background-position: center;
}

