@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
  margin: 0;
  padding: 0;
  color: rgba(31, 33, 40, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.page-container{
  box-sizing: border-box;
  display: inline-block;
  border-radius: 6px;
  outline: 1px solid rgb(238, 238, 238);
  padding: 10px 0px;
  box-shadow: 0px 8px 15px 0px rgba(20, 20, 20, 0.12),
              0px 0px 4px 0px rgba(20, 20, 20, 0.1);
}